@{
    ViewBag.Title = "Index";
}

<div class="row">
    <h1>Prepare for a Lootsplosion!</h1>
    <hr />
</div>
<div class="row">
    <h4 class="col-md-12">
        Please select the source of your Lootsplosion:
    </h4>
    </div>
<div class="col-xs-12">
    <a href="@Url.Action("Enemy")" class="btn btn-default">ENEMY <i class="fa fa-skull"></i></a>
    <a href="@Url.Action("LootSource")" class="btn btn-default">LOOT SOURCE <i class="fa-regular fa-circle-check"></i></a>
</div>
<br />
