@{
    ViewBag.Title = "Index";
}

<h1>Prepare for a Lootsplosion!</h1>

<hr />

<h4>
    Please select the source of your Lootsplosion:
    <br />
    <a href="@Url.Action("Enemy")"><input type="submit" value="ENEMY" class="btn btn-default" /></a>
    <br />
    <a href="@Url.Action("LootSource")"><input type="submit" value="LOOT SOURCE" class="btn btn-default"/></a>
</h4>
