@model IEnumerable<Lootsplosion.Models.LootPull.PulledLootListItem>

@{
    ViewBag.Title = "Pull";
}

<h1>You recieved:</h1>

@foreach (var item in Model)
{
    if (item.LootId != 0)
    {
        <div class="row">
            <h4 class="col-sm-2 col-xs-4">
                @Html.DisplayFor(modelItem => item.Rarity).ToString().ToUpper()
            </h4>
            <h4 class="col-sm-10 col-xs-8">
                @Html.DisplayFor(modelItem => item.LootName)
            </h4>
        </div>
    }
}
<br />
<h4>
    @Html.ActionLink("Again!", "Index")
</h4>
