@{
    ViewBag.Title = "Contact";
}
<h2>Contact Me</h2>
<h3>William Lego</h3>

<address>
    <strong>Email:</strong>   <a href="mailto:william.a.lego11@gmail.com">william.a.lego11@gmail.com</a><br />
    <strong>Github:</strong> <a href="https://github.com/walego" target="_blank">https://github.com/walego</a><br/>
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/walego/" target="_blank">https://www.linkedin.com/in/walego/</a>
</address>