@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project Lootsplosion</h1>
    <p class="lead">Create Items. Create Enemies. Assign Items to Loot Tables...and then prepare to
    <a href="@Url.Action("Index","Lootsplosion")" class="btn btn-warning">LOOTSPLODE! <i class="fa fa-bomb"></i></a></p>
</div>

<div class="row">
    <h2 class="text-center">How does it work?</h2>
    <p class="col-xs-12">Magic</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Items</h2>
        <p>
            Items
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Item")">Items &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Enemies</h2>
        <p>Enemies</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Enemy")">Enemies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Loot Sources</h2>
        <p>Loot Sources</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "LootSource")">Loot Sources &raquo;</a></p>
    </div>
</div>